/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #41c86c;
  --secondary: #8de2aa;
  --accent: #5dda85;
}
body {
  background: #f4fbf5;
  color: #030705;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
}
.dark-mode {
  background: #040b05;
  --secondary: #1d7239;
  --accent: #25a24c;
  color: #f8fcfa;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px 5px;
  border-bottom: 1px solid #bab8b8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

.home-page {
  padding: 15px;
}
